body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mrg_lft {
    margin-left: 50px;
}

.container {
    padding: 10px 50px 50px;
}

.container_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boxed {
    background-color: #d1cec7;
    width: 20%;
    padding: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxed2 {
    background-color: #d1cec7;
    width: 40%;
    padding: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxed3 {
    max-width: 1000px;
    padding: 80px;
    margin: auto;
}

.flex {
    display: flex;
    margin: auto;
}

.space-between {
    justify-content: space-between;
}

.btncontainer {
    width: 100%;
}

.btnstyle {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
}

.btnstyle2 {
    width: 50%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
}

.lightgreen {
    background-color: #7ae582;
}

.blue {
    background-color: #00a5cf;
}

.aqua {
    background-color: #9FFFCB;
}